div.container {
	text-align: center;
}

button {
	border: none;
	background-image: url(../SB_collection.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

button.selected {
	background-image: url(../SB_collection_selected.png);
}
