body {
	padding: 0;
	margin: 0;
	background: url("../bg_pat.jpg") repeat scroll 0 0 #999;
	font-family: Meiryo,"メイリオ","ヒラギノ角ゴ ProN W3",Arial,Helvetica,sans-serif,Osaka;
}
svg {
	font-kerning: normal;
}
.main {
	background: url("../bg_main.jpg") no-repeat scroll top center / 1249px 910px rgba(0, 0, 0, 0);
	padding-top: 50px;
}
.header {
	height: 73px;
	width: 320px;
	background-image: url(../logo.png);
	background-repeat: no-repeat;
	margin: auto;
}
.body {
	display: flex;
}
.footer {
	font-size: small;
	text-align: center;
	color: #a09f9f;
}
.footer > div {
	display: flex;
	justify-content: center;
}
@media (min-width:1024px) {
	.sidebar1 {
		position: absolute;
		left: 50px;
		top: 200px;
	}
	.sidebar1 > iframe {
		min-width: 250px!important;
	}
}
@media (max-width:1024px) {
	.sidebar1 {
		display: none;
	}
}
.container {
	margin: auto;
}
.action_panel {
	margin: auto;
	text-align: center;
	margin-top: 20px;
}
.action_panel ul {
	padding: 0;
}
#export li, #share li {
	background-color: #f4e4b3;
	border: 3px solid #967f5e;
	border-radius: 30px;
	box-shadow: 3px 7px 0 0 rgba(100, 75, 35, 0.75);
	display: inline-block;
	font-weight: bold;
	margin: 5px;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	color: #936c3f;
	text-decoration: none;
	width: 20%;
}
#export {
	cursor: pointer;
	position: relative;
}
#export > img {
	position: absolute;
	left: 10px;
	top: -24px;
	transition: all 1s ease;
}
#export > img:hover {
	transform: scale(1.2) rotate(-360deg);
	transition: all 1s ease;
}
#share {
display: none;
}
.container button {
	border: none;
	background-repeat: no-repeat;
	cursor: pointer;
}
.container button.original {
	background-image: url(../SB_collection_org.png);
}
.container button.collaboration {
	background-image: url(../SB_collection_coll.png);
}
.container button.original.selected {
	background-image: url(../SB_collection_org_selected.png);
}
.container button.collaboration.selected {
	background-image: url(../SB_collection_coll_selected.png);
}
