.container {
	margin: auto;
}

button {
	border: none;
}

.container button {
	background-image: url(../SB_collection.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

.container button.selected {
	background-image: url(../SB_collection_selected.png);
}
