body {
	padding: 0;
	margin: 0;
}
svg {
	font-kerning: normal;
}
.container {
	margin: auto;
}
.action_panel {
	margin: auto;
	text-align: center;
	margin-top: 20px;
}
.container button {
	border: none;
	background-repeat: no-repeat;
	cursor: pointer;
}
.container button.original {
	background-image: url(../SB_collection_org.png);
}
.container button.collaboration {
	background-image: url(../SB_collection_coll.png);
}
.container button.original.selected {
	background-image: url(../SB_collection_org_selected.png);
}
.container button.collaboration.selected {
	background-image: url(../SB_collection_coll_selected.png);
}
