body {
	padding: 0;
	margin: 0;
}
svg {
	font-kerning: normal;
}
.header {
	height: 73px;
	width: 320px;
	background-image: url(../logo.png);
	background-repeat: no-repeat;
	margin: 20px auto;
}
.footer {
	font-size: small;
	text-align: center;
	color: #a09f9f;
}
.container {
	margin: auto;
}
.action_panel {
	margin: auto;
	text-align: center;
	margin-top: 20px;
}
.action_panel ul {
	padding: 0;
}
#export li, #share li {
	cursor: pointer;
	background-color: #f4e4b3;
	border: 3px solid #967f5e;
	border-radius: 30px;
	box-shadow: 3px 7px 0 0 rgba(100, 75, 35, 0.75);
	display: inline-block;
	font-weight: bold;
	margin: 5px;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	color: #936c3f;
	text-decoration: none;
	width: 20%;
}
#share {
display: none;
}
.container button {
	border: none;
	background-repeat: no-repeat;
	cursor: pointer;
}
.container button.original {
	background-image: url(../SB_collection_org.png);
}
.container button.collaboration {
	background-image: url(../SB_collection_coll.png);
}
.container button.original.selected {
	background-image: url(../SB_collection_org_selected.png);
}
.container button.collaboration.selected {
	background-image: url(../SB_collection_coll_selected.png);
}
